@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin-ext');

$blue-background: #c9cfd8;
$black: #0b133d;
$circle-size: 300px, 300px; 
$light-blue: #e3e8ef;
$dark-blue: #a3b1c2;
$darker-blue: #8e9cad;
$background: #302d33; /* nezapomenout použít */
$alien_ship_time: 50s;

@mixin transform($property) {
  	-webkit-transform: $property;
   	-ms-transform: $property;
    transform: $property;
}

@mixin top-left-width-height($t, $l, $w, $h) {
	top: $t;
	left: $l;
	width: $w;
	height: $h;
}

@mixin alien_ship_animate($time) {
	-webkit-animation: whiggle $time linear infinite;
  	-moz-animation:    whiggle $time linear infinite; 
  	-o-animation:      whiggle $time linear infinite; 
  	whiggle:           whiggle $time linear infinite; 
}

@mixin move_alien_ship() {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-6deg);
	}
	75% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
};

%crater-shared {
	border-radius: 50%;
	position: absolute;
	background-color: $dark-blue;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: $background;
	font-family: 'Roboto Mono', monospace;
	color: aliceblue;
}
.contact, a:link, a:link:visited {
	color: aliceblue;
}
.greeting {
	position: absolute;
	margin: 5% 0% 0% 5%;
}
.alien_ship {
	width: 250px;
	height: 200px;
	position: absolute;
	left: 65%;
	top: 2%;
	@include alien_ship_animate($alien_ship_time);
}

@-moz-keyframes whiggle {
	@include move_alien_ship();
}

@-o-keyframes whiggle {
	@include move_alien_ship();
}

@-webkit-keyframes whiggle {
	@include move_alien_ship();
}

@keyframes whiggle {
	@include move_alien_ship();
}
.container {
	width: nth($circle-size, 1);
	height: nth($circle-size, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}
/* díky nastavení pozici všech elementů na absolute můžu, dále pozicovat ostatní elementy */
.circle {
	position: absolute;
	width: 100%;
	height: 100%;
	@include transform(translate(-50%, -50%));
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background-color: $blue-background;
	box-shadow:inset -10px 15px 0px $light-blue;
}
.craters {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	.crater_1 {
		@extend %crater-shared;
		position: absolute;
		width: 8%;
		height: 15%;
		top: 10%;
		left: 51%;
		border: 2px solid #94a3b6;
	}
	.crater_2 {
		@extend %crater-shared;
		@include top-left-width-height(35%, 0%, 10%, 30%);
		background-color: $darker-blue;
		border: 1px solid #94a3b6;
	}
	.crater_3 {
		@extend %crater-shared;
		@include top-left-width-height(65%, 20%, 10%, 8%);
		background-color: $darker-blue;
		border: 2px solid #94a3b6;
	}
	.crater_4 {
		@extend %crater-shared;
		@include top-left-width-height(32%, 30%, 25%, 20%);
		background-color: #9ca9ba;
		border: 2px solid #94a3b6;
	}
	.crater_5 {
		@extend %crater-shared;
		@include top-left-width-height(80%, 63%, 6%, 8%);
		border-radius: 50% 50% 50% 75%;
		background-color: #9ca9ba;
		border: 2px solid #94a3b6;
	}
	.crater_6 {
		@extend %crater-shared;
		@include top-left-width-height(30%, 73%, 10%, 12%);
		border: 1px solid #94a3b6;
	}
	.crater_7 {
		@extend %crater-shared;
		@include top-left-width-height(50%, 65%, 20%, 10%);
		border: 1px solid #94a3b6;
	}
	.crater_8 {
		@extend %crater-shared;
		@include top-left-width-height(75%, 35%, 20%, 10%);
		border: 1px solid #94a3b6;
	}
}
.texts {
	margin-top: 29%;
	margin-left: 5%;
}
t-title, h2 {
	font-size: 22px;
	color: #b6f9e4;
}
.star_cyan {

}