@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin-ext");
/* nezapomenout použít */
.craters .crater_1, .craters .crater_2, .craters .crater_3, .craters .crater_4, .craters .crater_5, .craters .crater_6, .craters .crater_7, .craters .crater_8 {
  border-radius: 50%;
  position: absolute;
  background-color: #a3b1c2; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #302d33;
  font-family: 'Roboto Mono', monospace;
  color: aliceblue; }

.contact, a:link, a:link:visited {
  color: aliceblue; }

.greeting {
  position: absolute;
  margin: 5% 0% 0% 5%; }

.alien_ship {
  width: 250px;
  height: 200px;
  position: absolute;
  left: 65%;
  top: 2%;
  -webkit-animation: whiggle 50s linear infinite;
  -moz-animation: whiggle 50s linear infinite;
  -o-animation: whiggle 50s linear infinite;
  whiggle: whiggle 50s linear infinite; }

@-moz-keyframes whiggle {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-6deg); }
  75% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }
@-o-keyframes whiggle {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-6deg); }
  75% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes whiggle {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-6deg); }
  75% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }
@keyframes whiggle {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-6deg); }
  75% {
    transform: rotate(5deg); }
  100% {
    transform: rotate(0deg); } }
.container {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* díky nastavení pozici všech elementů na absolute můžu, dále pozicovat ostatní elementy */
.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #c9cfd8;
  box-shadow: inset -10px 15px 0px #e3e8ef; }

.craters {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%; }
  .craters .crater_1 {
    position: absolute;
    width: 8%;
    height: 15%;
    top: 10%;
    left: 51%;
    border: 2px solid #94a3b6; }
  .craters .crater_2 {
    top: 35%;
    left: 0%;
    width: 10%;
    height: 30%;
    background-color: #8e9cad;
    border: 1px solid #94a3b6; }
  .craters .crater_3 {
    top: 65%;
    left: 20%;
    width: 10%;
    height: 8%;
    background-color: #8e9cad;
    border: 2px solid #94a3b6; }
  .craters .crater_4 {
    top: 32%;
    left: 30%;
    width: 25%;
    height: 20%;
    background-color: #9ca9ba;
    border: 2px solid #94a3b6; }
  .craters .crater_5 {
    top: 80%;
    left: 63%;
    width: 6%;
    height: 8%;
    border-radius: 50% 50% 50% 75%;
    background-color: #9ca9ba;
    border: 2px solid #94a3b6; }
  .craters .crater_6 {
    top: 30%;
    left: 73%;
    width: 10%;
    height: 12%;
    border: 1px solid #94a3b6; }
  .craters .crater_7 {
    top: 50%;
    left: 65%;
    width: 20%;
    height: 10%;
    border: 1px solid #94a3b6; }
  .craters .crater_8 {
    top: 75%;
    left: 35%;
    width: 20%;
    height: 10%;
    border: 1px solid #94a3b6; }

.texts {
  position: absolute;
  margin-top: 29%;
  margin-left: 5%; }

t-title, h2 {
  font-size: 22px;
  color: #b6f9e4; }

/*# sourceMappingURL=style.css.map */
